:root
{
--primaryColor:#FDE68A;
--secondaryColor:#FFFBEB;
--primaryTextColor:#BE185D;
font-family: 'Lato', sans-serif;
}
body
{
margin:0; 
}
.container
{
    padding:1rem;
}
.navbar
{
    
    
    border-bottom-left-radius: 2rem;
    background-color: var(--primaryColor);

}
.navbar h3
{
    color:var(--primaryTextColor);
    text-shadow: 2px 2px 4px #FFFFFF;
}
.nav-list
{
    
   list-style: none;
   display:flex;
   flex-direction: row;
   justify-content:flex-end;
}
.nav-pills
{
    padding-right:2rem;
}
.nav-pills:hover
{
    
    padding-left:2px;
    transition: .2s ease-in-out;
    font-weight: bolder;
}
.nav-pills a
{
    text-decoration: none;
}

.heading
{
    background-color:var(--secondaryColor);
    padding:2rem;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.headericon
{
  width:350px;
  max-width: 80%;  
}
.heading h2
{
    margin-top:6rem;
    
}
.heading span
{
    color:var(--primaryTextColor);
}
.skills
{
    background-color: var(--primaryColor);
    padding:1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.skills p
{
    color:var(--primaryTextColor);
    font-size: 1.1rem;
}

section.projects
{
    background-color: var(--secondaryColor);
    padding:2rem;
}

div.overview
{
    margin-top: 2rem;
    display:flex;
    flex-direction: column;
    align-items:center;
}
div.overview img
{
    max-width:80%;
    width:350px;
}

section.projects h1
{
    text-align: center;
}
div.link
{
    padding:0.5rem;
    background-color: var(--primaryColor);
    border-radius: 2rem;
}
div.link a
{
    text-decoration: none;
    color:var(--primaryTextColor);
    font-weight: bold;
}